@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  /* color: var(--foreground); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light body {
  background-image: url("/light.jpg");
  repeat: no-repeat;
}

/* Dark mode */
.dark body {
  background-image: url("/dark.jpg");
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  display: flex;
  gap: 1rem; /* Adjust spacing between images */
  animation: slide 20s linear infinite;
  width: calc(200%); /* Double the width for seamless looping */
}
